src/main/resources/FlowNodeRed/flowsAPIPlusoft.json
[
    {
        "id": "1c80ede089b4e96b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0fb3e7cf3d3af08f",
        "type": "inject",
        "z": "1c80ede089b4e96b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "cb2bbb87801bbc19"
            ]
        ]
    },
    {
        "id": "7e7253bb8b6dba35",
        "type": "inject",
        "z": "1c80ede089b4e96b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "cb2bbb87801bbc19"
            ]
        ]
    },
    {
        "id": "ce68186995c9eccc",
        "type": "inject",
        "z": "1c80ede089b4e96b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "cb2bbb87801bbc19"
            ]
        ]
    },
    {
        "id": "eacb71759b0ef4b7",
        "type": "inject",
        "z": "1c80ede089b4e96b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "cb2bbb87801bbc19"
            ]
        ]
    },
    {
        "id": "8d6131a92d8594ac",
        "type": "http in",
        "z": "1c80ede089b4e96b",
        "name": "",
        "url": "/infoRespirador",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "be5eb1353c69ae1b"
            ]
        ]
    },
    {
        "id": "524cfd725548a384",
        "type": "template",
        "z": "1c80ede089b4e96b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"id\": 123,\n    \"id_pati\": 1,\n    \"risk\": false,\n    \"label\": \"verde\",\n    \"temperature\": 37,\n    \"msgTemperature\": \"Paciente com temperatura normal\",\n    \"oxygen\": 95,\n    \"msgOxygen\": \"Paciente com oxigenio normal\",\n    \"heartBeats\": 80,\n    \"msgHeartBeats\": \"Paciente com batimentos cardiacos normais!\",\n    \"breatherSpeed\": \"{{payload}}\"\n}",
        "output": "str",
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "651c77e8d449b68d"
            ]
        ]
    },
    {
        "id": "651c77e8d449b68d",
        "type": "http response",
        "z": "1c80ede089b4e96b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "814e0f55ab1fe35f",
        "type": "debug",
        "z": "1c80ede089b4e96b",
        "name": "Vindo do Arduino",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "05b2666ac959b671",
        "type": "change",
        "z": "1c80ede089b4e96b",
        "name": "armazenar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "814e0f55ab1fe35f"
            ]
        ]
    },
    {
        "id": "be5eb1353c69ae1b",
        "type": "change",
        "z": "1c80ede089b4e96b",
        "name": "recuperar",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "01a1ad41f403c955"
            ]
        ]
    },
    {
        "id": "01a1ad41f403c955",
        "type": "function",
        "z": "1c80ede089b4e96b",
        "name": "",
        "func": "if (msg.payload === \"0\") {\n    msg.payload = \"desligado\";\n} else if(msg.payload === \"1\"){\n        msg.payload = \"minimo\";\n   }else if(msg.payload === \"2\" ){\n        msg.payload = \"minimo\";\n   }else if(msg.payload === \"3\" ){\n        msg.payload = \"máximo\";\n   }\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "524cfd725548a384",
                "744e04a92efaa0f7"
            ]
        ]
    },
    {
        "id": "cb2bbb87801bbc19",
        "type": "serial out",
        "z": "1c80ede089b4e96b",
        "name": "",
        "serial": "723ad9d7b5b0b0cd",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "1cab21dc57c42a40",
        "type": "serial in",
        "z": "1c80ede089b4e96b",
        "name": "",
        "serial": "723ad9d7b5b0b0cd",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "05b2666ac959b671"
            ]
        ]
    },
    {
        "id": "744e04a92efaa0f7",
        "type": "debug",
        "z": "1c80ede089b4e96b",
        "name": "Saida Function",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 300,
        "wires": []
    },
    {
        "id": "723ad9d7b5b0b0cd",
        "type": "serial-port",
        "serialport": "COM2",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]